<div class="flex flex-column" [formGroup]="registerForm">
    <span class="text-lg mb-4">Registro</span>

    <mat-form-field >
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email de usuario" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput placeholder="Nombre de usuario" formControlName="fullName">
    </mat-form-field>

    <button mat-button mat-flat-button color="primary" (click)="register()">
        <mat-icon>save</mat-icon> 
        Crear Cuenta
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">¿Ya tienes cuenta, haz login?</a>
    </div>

</div>